/* GENERALES */

* { 
    margin: 0; 
    padding: 0;
}

/*ESCRITORIO*/
section {
    margin: 0px 80px;
}

/*CELULAR Y TABLET */
@media only screen and (max-width: 992px) {
    section {
        margin: 0px 40px;
    }
}

footer {
    margin: 0px 80px;
}

body {
    font-family: 'Lora', serif;
    }

.botones {
    border: none;
    border-radius: 15px;
    padding: 2px 10px;
    background-color: #cb6b31;
    transition: all 1s;
}

.botones:hover {
    transform: scale(1.2);
}

/*Header*/
/*Menú*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 90px;
}

.nav-margin {
    margin: 0px 30px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 30px;
}

/*MÓVIL Y TABLET*/
@media only screen and (max-width: 992px) {

    .nav-margin {
        margin: 0px;
    }

    li {
        margin-left: 10px;
        border-bottom: 1px solid lightgray;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.color-menu {
    color: #cb6b31;
}


/*Fin Menú*/
/*Fin Header*/

/*Footer*/

.footer-fondo {
    background-color: rgb(255, 240, 219);
}

.redes {
    padding: 10px;
    border: rgb(233, 227, 227) solid 1px;
}

.a-footer {
    color: var(--bs-body-color);
}

.a-footer:hover {
    color: #cb6b31;
}

/*Logo*/
.divFooter1-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
/*Fin Logo*/
/*Fin Footer*/
/* Fin GENERALES */

/* --------------------------------------------------------------------------------------------- */

/* INDEX */

/*Primera Sección*/
/*Background*/
#indexPrimeraSeccion {
    margin: 0;
    height: 500px;
    width: 100%;
    background-image: url(../images/bakground-primera-seccion.JPG);
    background-size: cover;
}
/*Fin Background*/

/*APLICA A TODAS LAS SECCIONES*/
/*divContainer*/
.primeraSeccion--divContainer {
    text-align: right;
    padding-top: 350px;
    padding-right: 80px;
}
/*Fin divContainer*/

h1 {
    color: white;
}

.h1-personalizado {
    text-shadow: 1px 4px 4px black;
}

/*Fin Primera Sección/*

/*Segunda Sección*/
#indexSegundaSeccion {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*divContainer1 - Título y Párrafo*/
.segundaSeccion-divContainer1 {
    text-align: center;
}
/*Fin divContainer1 - Título y Párrafo*/

/*ESCRITORIO*/
/*divContainer2 - Beneficios*/
.segundaSeccion-divContainer2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Div: Beneficios*/
.segundaSeccion-article--beneficios {
    display: flex;
    flex-direction: column;
    width: 350px;
    transition: all 10s;
}

/*CELULAR*/
@media only screen and (max-width: 768px) {
    .segundaSeccion-divContainer2 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .segundaSeccion-article--beneficios {
        padding-top: 20px;
    }  
}

/*Fin Div: Beneficios*/
/*Fin divContainer2 - Beneficios*/

/*Botón*/
.segundaSeccion-boton {
    text-align: center;
}
/*Fin Botón*/
/*Fin Segunda Sección*/

/*Tercera Sección*/
#indexTerceraSeccion {
    margin: 0;
    background-color: rgb(89, 151, 116);
    height: 100px;
}

/*Frase*/
.indexFrase {
    text-align: center;
    padding-top: 30px;
    font-size: x-large;
}
/*Fin Frase*/
/*Fin Tercera Sección*/

/*Cuarta Sección*/
.imagen {
    width: 100%;
}

.index-cuartaSeccion-instructora {
    padding-left: 50px;
}

/*CELULAR*/
@media only screen and (max-width: 767px) {
    .imagen {
        padding: 40px 0px;
    }

    .index-cuartaSeccion {
        padding: 40px;
        text-align: center;
        align-items: center;
    }

    .index-cuartaSeccion-instructora {
        padding-left: 0px;
    }
    
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .noneTablet {
        display: none;
    }

    .index-cuartaSeccion {
        padding: 40px;
        text-align: center;
        align-items: center;
    }

    .index-cuartaSeccion-instructora {
        padding-left: 0px;
    }
}

/*ESCRITORIO*/
@media only screen and (min-width: 992px) {
    .container {
        padding: 60px 0px;
        overflow: hidden;
    }

    .div-instructora-movil {
        padding-right: 50px;
    }

    .imagen {
        margin-left: 40px;
        width: 400px;
    }
}
/*Fin Cuarta Sección*/

/* Fin INDEX */

/* --------------------------------------------------------------------------------------------- */

/* SOBRE MÍ */

/*Primera Sección*/
/*Background*/
#sobre-miPrimeraSeccion {
    margin: 0;
    height: 500px;
    width: 100%;
    background-image: url(../images/sobre-mi-background.jpg);
    background-size: cover;
}

/*Fin Background*/
/*Fin Primera Sección*/

/*Segunda Sección*/
.sobre-mi--segunaSeccion {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;    
}
/*Fin Segunda Sección*/

/*Tercera Seccion*/
/*Imagen Separadora*/
.sobre-mi--separador {
    margin: 0;
    height: 200px;
    width: 100%;
    background-image: url(../images/sobre-mi-separador.jpg);
}
/* Fin Imagen Separadora */
/* Fin Tercera Seccion */

/*Cuarta Seccion*/
.sobre-mi--cuarta-seccion {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-mi--cuarta-seccion-div {
    width: 600px;
    padding-top: 40px;
}

.sobre-mi--cuartaseccion-img {
    padding-top: 15px;
}

/*Fin Cuarta Seccion*/

/* Fin SOBRE MÍ */

/* --------------------------------------------------------------------------------------------- */

/* YOGA INTEGRAL */

/*Primera Sección*/
/*Background*/
#yoga-integralPrimeraSeccion {
    margin: 0;
    height: 500px;
    width: 100%;
    background-image: url(../images/yoga-integral-background.jpg);
    background-size: cover;
}
/*Fin Background*/

/*divContainer*/
.yogaIntegral--primeraSeccion--divContainer {
    text-align: right;
    padding-top: 350px;
    padding-right: 80px;
}
/*Fin divContainer*/

/*Fin Primera Sección*/

/*Segunda Seccion*/
.yoga-integral--primera-seccion {
    text-align: center;
    padding: 40px;
}
/*Fin Segunda Seccion*/

/*Tercera Seccion*/
.yogaIntegral-terceraSeccion {
    margin: 20px 0px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #fff2ea;
}

.yogaIntegral-terceraSeccion-h2 {
    text-align: center;
    padding-bottom: 20px;
}

/*CELULAR Y TABLET*/
@media only screen and (max-width: 991px) {
    .yogaIntegral-terceraSeccion-divstodos {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.yogaIntegral-terceraSeccion-div1y3 {
    padding: 0px 20px;
    text-align: left;
    align-items: center;
}

.yogaIntegral-terceraSeccion-div2 {
    padding: 0px 20px;
    text-align: right;
    align-items: center;
    flex-wrap: wrap-reverse;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .yogaIntegral-terceraSeccion-div2 {
        padding-right: 20px;
        padding-left: 20px;
        text-align: left;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
}




/*Fin Tercera Seccion*/

/*Cuarta Seccion*/

.yoga-integral--preguntas {
    text-align: center;
    padding: 50px 0px;
}

.accordion-button:not(.collapsed) {
    color: #cb6b31;
    background-color: #faefe7;
}

.yoga-integral--preguntas-div {
    padding-bottom: 30px;
}

/*Fin Cuarta Seccion*/

/* Fin YOGA INTEGRAL */

/* --------------------------------------------------------------------------------------------- */

/* CLASES */

/*Primera Sección*/
/*Background*/
#clasesPrimeraSeccion {
    margin: 0;
    height: 500px;
    width: 100%;
    background-image: url(../images/clases-background.jpg);
    background-size: cover;
}
/*Fin Background*/

/*Segunda Sección: H2*/
.clases-heading2 {
    text-align: center;
    padding: 40px;
}
/*Fin Segunda Sección: H2*/

/*Tercera Seccion*/
.clases-divsContenedores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.clases-divsContenedores--parrafos {
    width: 500px;
    padding-right: 100px;

}

.clases-divsContenedores--direcciones {
    text-align: center;
}
/*Fin Tercera Seccion*/

/* Fin CLASES */

/* --------------------------------------------------------------------------------------------- */

/* OTROS SERVICIOS */

/*Primera Sección*/
/*Background*/
#otros-serviciosPrimeraSeccion {
    margin: 0;
    height: 500px;
    width: 100%;
    background-image: url(../images/otros-servicios-background.jpg);
    background-size: cover;
}
/*Fin Background*/

/*Segunda Seccion: H2*/
.otros-servicios--h2 {
    text-align: center;
    padding: 40px;
}
/*Fin Segunda Seccion: H2*/

/*Tercera Seccion*/
.otros-servicios--secciones {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.otros-servicios--secciones-divs {
    text-align: center;
    width: 550px;
    justify-content: center;
}

.otros-servicios--secciones-divs--parrafos {
    padding-left: 50px;
    padding-right: 50px;
}

.otros-servicios--secciones-disvs--instagram {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
/*Fin Tercera Seccion*/

/* Fin OTROS SERVICIOS */