/* GENERALES */

* { 
    margin: 0; 
    padding: 0;
}

header {
    margin: 0px 80px;
}

section {
    margin: 0px 80px;
}

footer {
    margin: 0px 80px;
}

/*Header*/
/*Menú*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 40px;
}

a {
    text-decoration: none;
}

/*Fin Menú*/
/*Fin Header*/

/*Footer*/
/*Logo*/
.divFooter1-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
/*Fin Logo*/

/*divContainer*/
.divFooter2-container {
    display: flex;
}
/*divContainer*/

/*Íconos*/
.iconos {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-bottom: 10px;
}
/*Fin Íconos*/
/*Fin Footer*/
/* Fin GENERALES */

/* --------------------------------------------------------------------------------------------- */

/* INDEX */

/*Primera Sección*/
/*Background*/
#indexPrimeraSeccion {
    margin: 0;
    height: 600px;
    width: 100%;
    background-image: url(../images/bakground-primera-seccion.JPG);
}
/*Fin Background*/

/*divContainer*/
.primeraSeccion--divContainer {
    text-align: right;
    padding-top: 350px;
    padding-right: 80px;
}
/*Fin divContainer*/

h1 {
    color: white;
}
/*Fin Primera Sección/*

/*Segunda Sección*/
#indexSegundaSeccion {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*divContainer1 - Título y Párrafo*/
.segundaSeccion-divContainer1 {
    text-align: center;
}
/*Fin divContainer1 - Título y Párrafo*/

/*divContainer2 - Beneficios*/
.segundaSeccion-divContainer2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Articles: Beneficios*/
.segundaSeccion-article--beneficios {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 350px;
}
/*Fin Articles: Beneficios*/
/*Fin divContainer2 - Beneficios*/

/*Botón*/
.segundaSeccion-boton {
    text-align: center;
}
/*Fin Botón*/
/*Fin Segunda Sección*/

/*Tercera Sección*/
#indexTerceraSeccion {
    margin: 0;
    background-color: rgb(89, 151, 116);
    height: 100px;
}

/*Frase*/
.indexFrase {
    text-align: center;
    padding-top: 40px;
}
/*Fin Frase*/
/*Fin Tercera Sección*/

/*Cuarta Sección*/
#indexCuartaSeccion {
    margin: 0;
    background-color: rgba(236, 176, 141, 0.288);
    height: 600px;
    width: 100%;
}

/*divContainer - Instructora de Yoga (article e imagen)*/
.cuartaSeccion-divContainer {
    display: flex;
    justify-content: center;
}

/*Article*/
.cuartaSeccion-divContainer--article {
    background-color: white;
    width: 50%;
    height: 290px;
    margin-top: 125px;
    padding: 30px;
}

/*Párrafos dentro de Article*/
.cuartaseccion-divContainer--article-p {
    width: 80%;
}
/*Fin Párrafos dentro de Article*/
/*Fin Article/

/*Imagen*/
.imagenIndex-instructoraDeYoga {
    width: 420px;
    margin-top: 55px;
    margin-left: -90px;
    backdrop-filter: grayscale(30%);
}
/*Fin Imagen*/
/*Fin divContainer - Instructora de Yoga*/
/*Fin Cuarta Sección*/

/* Fin INDEX */

/* --------------------------------------------------------------------------------------------- */

/* SOBRE MÍ */

/*Primera Sección*/
/*Background*/
#sobre-miPrimeraSeccion {
    margin: 0;
    height: 600px;
    width: 100%;
    background-image: url(../images/sobre-mi-background.jpg);
}
/*Fin Background*/
/*Fin Primera Sección*/

/*Segunda Sección*/
.sobre-mi--segunaSeccion {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;    
}
/*Fin Segunda Sección*/

/*Tercera Seccion*/
/*Imagen Separadora*/
.sobre-mi--separador {
    margin: 0;
    height: 200px;
    width: 100%;
    background-image: url(../images/sobre-mi-separador.jpg);
}
/* Fin Imagen Separadora */
/* Fin Tercera Seccion */

/*Cuarta Seccion*/
.sobre-mi--cuarta-seccion {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-mi--cuarta-seccion-div {
    width: 600px;
    padding-top: 40px;
}
/*Fin Cuarta Seccion*/

/* Fin SOBRE MÍ */

/* --------------------------------------------------------------------------------------------- */

/* YOGA INTEGRAL */

/*Primera Sección*/
/*Background*/
#yoga-integralPrimeraSeccion {
    margin: 0;
    height: 600px;
    width: 100%;
    background-image: url(../images/yoga-integral-background.jpg);
}
/*Fin Background*/
/*Fin Primera Sección*/

/*Segunda Seccion*/
.yoga-integral--primera-seccion {
    text-align: center;
    padding: 40px;
}
/*Fin Segunda Seccion*/

/*Tercera Seccion*/
.secciones-yoga-integral {
    margin: 0;
    padding: 0;
}

/*Div Contenedor Izq*/
.yoga-integral--divizq {
    display: flex;
    justify-content: center;
}

.yoga-integral--divizq-parrafo {
    padding: 40px;
}
/*Fin Div Contenedor Izq*/

/*Div Contenedor Der*/
.yoga-integral--divder {
    display: flex;
}

.yoga-integral--divder-parrafo {
    padding: 40px;
}
/*Fin Div Contenedor Der*/
/*Fin Tercera Seccion*/

/*Cuarta Seccion*/
.yoga-integral--preguntas {
    text-align: center;
    padding: 40px;
}
/*Fin Cuarta Seccion*/

/* Fin YOGA INTEGRAL */

/* --------------------------------------------------------------------------------------------- */

/* CLASES */

/*Primera Sección*/
/*Background*/
#clasesPrimeraSeccion {
    margin: 0;
    height: 600px;
    width: 100%;
    background-image: url(../images/clases-background.jpg);
}
/*Fin Background*/

/*Segunda Sección: H2*/
.clases-heading2 {
    text-align: center;
    padding: 40px;
}
/*Fin Segunda Sección: H2*/

/*Tercera Seccion*/
.clases-divsContenedores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.clases-divsContenedores--parrafos {
    width: 500px;
    padding-right: 100px;

}

.clases-divsContenedores--direcciones {
    text-align: center;
}
/*Fin Tercera Seccion*/

/* Fin CLASES */

/* --------------------------------------------------------------------------------------------- */

/* OTROS SERVICIOS */

/*Primera Sección*/
/*Background*/
#otros-serviciosPrimeraSeccion {
    margin: 0;
    height: 600px;
    width: 100%;
    background-image: url(../images/otros-servicios-background.jpg);
}
/*Fin Background*/

/*Segunda Seccion: H2*/
.otros-servicios--h2 {
    text-align: center;
    padding: 40px;
}
/*Fin Segunda Seccion: H2*/

/*Tercera Seccion*/
.otros-servicios--secciones {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.otros-servicios--secciones-divs {
    text-align: center;
    width: 550px;
    justify-content: center;
}

.otros-servicios--secciones-divs--parrafos {
    padding-left: 50px;
    padding-right: 50px;
}

.otros-servicios--secciones-disvs--instagram {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
/*Fin Tercera Seccion*/

/* Fin OTROS SERVICIOS */